body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

html{
    scroll-behavior: smooth;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    animation: nav 0.5s ease-out;
}

@keyframes nav {
    from {
        background-color: black;
        color: white;
    }

    to {
        background-color: white;
        color: black;
    }

}

h1 {
    width: 60vw;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    border: 2px solid rgb(7, 7, 7);
    box-shadow: 5px 5px 0 rgb(7, 7, 7);
}

#about {
    width: 60vw;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    border: 2px solid rgb(26, 23, 23);
    box-shadow: 5px 5px 0 rgb(7, 7, 7);
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}